appwrite users updateVerification \
        --userId [USER_ID] \
        --emailVerification false
