_APP_ASSISTANT_OPENAI_API_KEY= # STRING
_APP_BROWSER_HOST=http://appwrite-browser:3000/v1 # STRING
_APP_COMPRESSION_MIN_SIZE_BYTES=1024 # INT
_APP_COMPUTE_BUILD_TIMEOUT=900 # INT
_APP_COMPUTE_CPUS=8 # INT
_APP_COMPUTE_INACTIVE_THRESHOLD=600 # INT
_APP_COMPUTE_MAINTENANCE_INTERVAL=600 # INT
_APP_COMPUTE_MEMORY=8192 # INT
_APP_COMPUTE_RUNTIMES_NETWORK=runtimes # STRING
_APP_COMPUTE_SIZE_LIMIT=30000000 # INT
_APP_CONSOLE_COUNTRIES_DENYLIST=AQ # STRING
_APP_CONSOLE_DOMAIN=localhost # STRING
_APP_CONSOLE_HOSTNAMES=localhost,appwrite.io,*.appwrite.io # STRING
_APP_CONSOLE_SESSION_ALERTS=enabled # BOOL
_APP_CONSOLE_WHITELIST_EMAILS= # STRING
_APP_CONSOLE_WHITELIST_IPS= # STRING
_APP_CONSOLE_WHITELIST_ROOT=disabled # BOOL
_APP_CUSTOM_DOMAIN_DENY_LIST= # STRING
_APP_DB_HOST=mariadb # STRING
_APP_DB_PASS=password # STRING
_APP_DB_PORT=3306 # INT
_APP_DB_ROOT_PASS=rootsecretpassword # STRING
_APP_DB_SCHEMA=appwrite # STRING
_APP_DB_USER=user # STRING
_APP_DNS=172.16.238.100 # STRING
_APP_DOCKER_HUB_PASSWORD= # STRING
_APP_DOCKER_HUB_USERNAME= # STRING
_APP_DOMAIN_FUNCTIONS=functions.localhost # STRING
_APP_DOMAIN_SITES=sites.localhost # STRING
_APP_DOMAIN_TARGET_A=203.0.0.1 # STRING
_APP_DOMAIN_TARGET_AAAA=::1 # STRING
_APP_DOMAIN_TARGET_CAA=digicert.com # STRING
_APP_DOMAIN_TARGET_CNAME=cname.localhost # STRING
_APP_DOMAIN=appwrite.test # STRING
_APP_EDITION=self-hosted # STRING
_APP_EMAIL_CERTIFICATES=certificates@appwrite.io # STRING
_APP_EMAIL_SECURITY=security@appwrite.io # STRING
_APP_ENV=development # STRING
_APP_EXECUTOR_HOST=http://exc1/v1 # STRING
_APP_EXECUTOR_SECRET=your-secret-key # STRING
_APP_FUNCTIONS_CREATION_ABUSE_LIMIT=5000 # INT
_APP_FUNCTIONS_RUNTIMES=node-22 # STRING
_APP_FUNCTIONS_TIMEOUT=900 # INT
_APP_GRAPHQL_MAX_BATCH_SIZE=10 # INT
_APP_GRAPHQL_MAX_COMPLEXITY=250 # INT
_APP_GRAPHQL_MAX_DEPTH=4 # INT
_APP_LOCALE=en # STRING
_APP_LOGGING_CONFIG_REALTIME= # STRING
_APP_LOGGING_CONFIG= # STRING
_APP_MAINTENANCE_INTERVAL=86400 # INT
_APP_MAINTENANCE_RETENTION_ABUSE=86400 # INT
_APP_MAINTENANCE_RETENTION_AUDIT_CONSOLE=15778800 # INT
_APP_MAINTENANCE_RETENTION_AUDIT=1209600 # INT
_APP_MAINTENANCE_RETENTION_CACHE=2592000 # INT
_APP_MAINTENANCE_RETENTION_EXECUTION=1209600 # INT
_APP_MAINTENANCE_RETENTION_SCHEDULES=86400 # INT
_APP_MAINTENANCE_RETENTION_USAGE_HOURLY=8640000 # INT
_APP_MAINTENANCE_START_TIME=12:00 # STRING
_APP_MESSAGE_EMAIL_TEST_DSN= # STRING
_APP_MESSAGE_PUSH_TEST_DSN= # STRING
_APP_MESSAGE_SMS_TEST_DSN= # STRING
_APP_MIGRATIONS_FIREBASE_CLIENT_ID= # STRING
_APP_MIGRATIONS_FIREBASE_CLIENT_SECRET= # STRING
_APP_OPENSSL_KEY_V1=your-secret-key # STRING
_APP_OPTIONS_ABUSE=disabled # BOOL
_APP_OPTIONS_FORCE_HTTPS=disabled # BOOL
_APP_OPTIONS_ROUTER_FORCE_HTTPS=disabled # BOOL
_APP_OPTIONS_ROUTER_PROTECTION=disabled # BOOL
_APP_PROJECT_REGIONS=default # STRING
_APP_REDIS_HOST=redis # STRING
_APP_REDIS_PASS= # STRING
_APP_REDIS_PORT=6379 # INT
_APP_REDIS_USER= # STRING
_APP_RULES_FORMAT=md5 # STRING
_APP_SITES_RUNTIMES=static-1,node-22 # STRING
_APP_SITES_TIMEOUT=30 # INT
_APP_SMS_FROM=+123456789 # STRING
_APP_SMS_PROJECTS_DENY_LIST= # STRING
_APP_SMS_PROVIDER=sms://username:password@mock # STRING
_APP_SMTP_HOST=maildev # STRING
_APP_SMTP_PASSWORD= # STRING
_APP_SMTP_PORT=1025 # INT
_APP_SMTP_SECURE= # STRING
_APP_SMTP_USERNAME= # STRING
_APP_STATS_RESOURCES_INTERVAL=30 # INT
_APP_STATS_USAGE_DUAL_WRITING_DBS=database_db_main # STRING
_APP_STORAGE_ANTIVIRUS_HOST=clamav # STRING
_APP_STORAGE_ANTIVIRUS_PORT=3310 # INT
_APP_STORAGE_ANTIVIRUS=disabled # BOOL
_APP_STORAGE_BACKBLAZE_ACCESS_KEY= # STRING
_APP_STORAGE_BACKBLAZE_BUCKET= # STRING
_APP_STORAGE_BACKBLAZE_REGION=us-west-004 # STRING
_APP_STORAGE_BACKBLAZE_SECRET= # STRING
_APP_STORAGE_DEVICE=Local # STRING
_APP_STORAGE_DO_SPACES_ACCESS_KEY= # STRING
_APP_STORAGE_DO_SPACES_BUCKET= # STRING
_APP_STORAGE_DO_SPACES_REGION=us-east-1 # STRING
_APP_STORAGE_DO_SPACES_SECRET= # STRING
_APP_STORAGE_LIMIT=30000000 # INT
_APP_STORAGE_LINODE_ACCESS_KEY= # STRING
_APP_STORAGE_LINODE_BUCKET= # STRING
_APP_STORAGE_LINODE_REGION=eu-central-1 # STRING
_APP_STORAGE_LINODE_SECRET= # STRING
_APP_STORAGE_PREVIEW_LIMIT=20000000 # INT
_APP_STORAGE_S3_ACCESS_KEY= # STRING
_APP_STORAGE_S3_BUCKET= # STRING
_APP_STORAGE_S3_ENDPOINT= # STRING
_APP_STORAGE_S3_REGION=us-east-1 # STRING
_APP_STORAGE_S3_SECRET= # STRING
_APP_STORAGE_WASABI_ACCESS_KEY= # STRING
_APP_STORAGE_WASABI_BUCKET= # STRING
_APP_STORAGE_WASABI_REGION=eu-central-1 # STRING
_APP_STORAGE_WASABI_SECRET= # STRING
_APP_SYSTEM_EMAIL_ADDRESS=noreply@appwrite.io # STRING
_APP_SYSTEM_EMAIL_NAME=Appwrite # STRING
_APP_SYSTEM_RESPONSE_FORMAT= # STRING
_APP_SYSTEM_TEAM_EMAIL=team@appwrite.io # STRING
_APP_TRUSTED_HEADERS=x-forwarded-for # STRING
_APP_USAGE_AGGREGATION_INTERVAL=30 # INT
_APP_USAGE_STATS=enabled # BOOL
_APP_VCS_GITHUB_APP_ID= # STRING
_APP_VCS_GITHUB_APP_NAME= # STRING
_APP_VCS_GITHUB_CLIENT_ID= # STRING
_APP_VCS_GITHUB_CLIENT_SECRET= # STRING
_APP_VCS_GITHUB_PRIVATE_KEY=disabled # STRING
_APP_VCS_GITHUB_WEBHOOK_SECRET= # STRING
_APP_WEBHOOK_MAX_FAILED_ATTEMPTS=10 # INT
_APP_WORKER_PER_CORE=6 # INT
