/.vscode/
/vendor/
/node_modules/
/tests/resources/storage/
/tests/resources/functions/**/code.tar.gz
/app/sdks/*
/.idea/
!/.idea/workspace.xml
!/.idea/php.xml
.DS_Store
.php_cs.cache
debug/
app/sdks
dev/yasd_init.php
.phpunit.result.cache
/tests/tmp/
/tests/resources/disk-a/very-large-file-1.mov
/tests/resources/disk-a/very-big-file-2.mov
/tests/resources/disk-a/video-srt.*
