app/config/** linguist-detectable=true
app/views/** linguist-detectable=true
app/controllers/** linguist-detectable=true
src/** linguist-detectable=true
tests/** linguist-detectable=true
public/scripts/** linguist-detectable=false
public/dist/scripts/** linguist-detectable=false
