language: php

php:
  - '7.4'

addons:
  hosts:
    - appwrite.test

notifications:
  email:
  - team@appwrite.io
  
services:
- docker

before_install:
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
  - sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
  - sudo apt-get update
  - sudo apt-get -y -o Dpkg::Options::="--force-confnew" install docker-ce

# cache:
#   directories:
#   - docker_images

# before_install:
# - docker load -i docker_images/images.tar || true

# before_cache:
# - docker save -o docker_images/images.tar appwrite_appwrite

install:
- docker --version
- docker-compose up -d
- sleep 10

script:
- docker ps
- docker-compose logs appwrite
- docker exec appwrite test