version: '3'

services:
  appwrite:
    build: .
    restart: unless-stopped
    volumes:
    - .:/usr/share/nginx/html
    - ./docker/nginx.conf:/etc/nginx/nginx.conf:rw
    - ./storage:/storage:rw
    ports:
    - "80:80"
    - "443:443"
    depends_on:
      - mariadb
      - redis
      - smtp
      - clamav
      - influxdb
      - telegraf
    environment:
    - _APP_ENV=development
    - _APP_OPENSSL_KEY_V1=your-secret-key
    - _APP_REDIS_HOST=redis
    - _APP_REDIS_PORT=6379
    - _APP_DB_HOST=mariadb
    - _APP_DB_PORT=3306
    - _APP_DB_SCHEMA=appwrite
    - _APP_DB_USER=user
    - _APP_DB_PASS=password
    - _APP_INFLUXDB_HOST=influxdb
    - _APP_INFLUXDB_PORT=8086
    - _APP_STATSD_HOST=telegraf
    - _APP_STATSD_PORT=8125
    
  mariadb:
    image: appwrite/mariadb:1.0.0 # fix issues when upgrading using: mysql_upgrade -u root -p
    restart: unless-stopped
    environment:
    - MYSQL_ROOT_PASSWORD=rootsecretpassword
    - MYSQL_USER=user
    - MYSQL_PASSWORD=password
    volumes:
    - ./storage/db:/var/lib/mysql:rw
    ports:
    - 3306:3306/tcp

  smtp:
    image: appwrite/smtp:1.0.0
    environment:
    - MAILNAME=appwrite
    - RELAY_NETWORKS=:192.168.0.0/24:10.0.0.0/16
    ports:
    - "25:25"

  clamav:
    image: appwrite/clamav:1.0.4
    restart: unless-stopped
    volumes:
    - ./storage:/storage:rw
      
  redis:
    image: redis:5.0
    restart: unless-stopped

  influxdb:
    image: influxdb:1.6
    volumes:
    - ./storage/influxdb:/var/lib/influxdb
    ports:
    - "8086:8086"

  telegraf:
    image: appwrite/telegraf:1.0.0
    ports:
    - "8125:8125/udp"