<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="app/init.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
        >
    <extensions>
        <extension class="Appwrite\Tests\TestHook" />
    </extensions>
    <testsuites>
        <testsuite name="unit">
            <directory>./tests/unit</directory>
        </testsuite>
        <testsuite name="e2e">
            <file>./tests/e2e/Client.php</file>
            <directory>./tests/e2e/General</directory>
            <directory>./tests/e2e/Scopes</directory>
            <directory>./tests/e2e/Services/Account</directory>
            <directory>./tests/e2e/Services/Realtime</directory>
            <directory>./tests/e2e/Services/Avatars</directory>
            <directory>./tests/e2e/Services/Databases</directory>
            <directory>./tests/e2e/Services/GraphQL</directory>
            <directory>./tests/e2e/Services/Health</directory>
            <directory>./tests/e2e/Services/Locale</directory>
            <directory>./tests/e2e/Services/Projects</directory>
            <directory>./tests/e2e/Services/Storage</directory>
            <directory>./tests/e2e/Services/Teams</directory>
            <directory>./tests/e2e/Services/Users</directory>
            <directory>./tests/e2e/Services/Webhooks</directory>
            <file>./tests/e2e/Services/Functions/FunctionsBase.php</file>
            <file>./tests/e2e/Services/Functions/FunctionsCustomServerTest.php</file>
            <file>./tests/e2e/Services/Functions/FunctionsCustomClientTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
