appwrite proxy updateRuleVerification \
        --ruleId [RULE_ID]
