---
console.log("Log1");
console.error("Error1");
console.log("Log2");
console.error("Error2");
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Astro Logs</title>
</head>
<body>
  <p>Inline logs printed.</p>
</body>
</html>
