```bash
appwrite account create-phone-verification
```
