appwrite account create-email-verification \
    --url https://example.com
