appwrite account update-verification \
    --user-id <USER_ID> \
    --secret <SECRET>
