appwrite account update-email-verification \
    --user-id <USER_ID> \
    --secret <SECRET>
