{
    "openapi": "3.0.0",
    "info": {
        "version": "1.7.4",
        "title": "Appwrite",
        "description": "Appwrite backend as a service cuts up to 70% of the time and costs required for building a modern application. We abstract and simplify common development tasks behind a REST APIs, to help you develop your app in a fast and secure way. For full API documentation and tutorials go to [https:\/\/appwrite.io\/docs](https:\/\/appwrite.io\/docs)",
        "termsOfService": "https:\/\/appwrite.io\/policy\/terms",
        "contact": {
            "name": "Appwrite Team",
            "url": "https:\/\/appwrite.io\/support",
            "email": "team@appwrite.io"
        },
        "license": {
            "name": "BSD-3-Clause",
            "url": "https:\/\/raw.githubusercontent.com\/appwrite\/appwrite\/master\/LICENSE"
        }
    },
    "servers": [
        {
            "url": "https:\/\/cloud.appwrite.io\/v1"
        },
        {
            "url": "https:\/\/<REGION>.cloud.appwrite.io\/v1"
        }
    ],
    "paths": {
        "\/account": {
            "get": {
                "summary": "Get account",
                "operationId": "accountGet",
                "tags": [
                    "account"
                ],
                "description": "Get the currently logged in user.",
                "responses": {
                    "200": {
                        "description": "User",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/user"
                                }
                            }
                        }
                    }
                },
                "x-appwrite": {
                    "method": "get",
                    "group": "account",
                    "weight": 10,
                    "cookies": false,
                    "type": "",
                    "deprecated": false,
                    "demo": "account\/get.md",
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/get.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ]
            },
            "post": {
                "summary": "Create account",
                "operationId": "accountCreate",
                "tags": [
                    "account"
                ],
                "description": "Use this endpoint to allow a new user to register a new account in your project. After the user registration completes successfully, you can use the [\/account\/verfication](https:\/\/appwrite.io\/docs\/references\/cloud\/client-web\/account#createVerification) route to start verifying the user email address. To allow the new user to login to their new account, you need to create a new [account session](https:\/\/appwrite.io\/docs\/references\/cloud\/client-web\/account#createEmailSession).",
                "responses": {
                    "201": {
                        "description": "User",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/user"
                                }
                            }
                        }
                    }
                },
                "x-appwrite": {
                    "method": "create",
                    "group": "account",
                    "weight": 9,
                    "cookies": false,
                    "type": "",
                    "deprecated": false,
                    "demo": "account\/create.md",
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/create.md",
                    "rate-limit": 10,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "sessions.write",
                    "platforms": [
                        "server",
                        "client"
                    ],
                    "packaging": false,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "userId": {
                                        "type": "string",
                                        "description": "User ID. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.",
                                        "x-example": "<USER_ID>"
                                    },
                                    "email": {
                                        "type": "string",
                                        "description": "User email.",
                                        "x-example": "email@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "description": "New user password. Must be between 8 and 256 chars.",
                                        "x-example": null
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": "User name. Max length: 128 chars.",
                                        "x-example": "<NAME>"
                                    }
                                },
                                "required": [
                                    "userId",
                                    "email",
                                    "password"
                                ]
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete account",
                "operationId": "accountDelete",
                "tags": [
                    "account"
                ],
                "description": "Delete the currently logged in user.",
                "responses": {
                    "204": {
                        "description": "No content"
                    }
                },
                "x-appwrite": {
                    "method": "delete",
                    "group": "account",
                    "weight": 11,
                    "cookies": false,
                    "type": "",
                    "deprecated": false,
                    "demo": "account\/delete.md",
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/delete.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console"
                    ],
                    "packaging": false,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": []
                    }
                ]
            }
        },
        "\/account\/email": {
            "patch": {
                "summary": "Update email",
                "operationId": "accountUpdateEmail",
                "tags": [
                    "account"
                ],
                "description": "Update currently logged in user account email address. After changing user address, the user confirmation status will get reset. A new confirmation email is not sent automatically however you can use the send confirmation email endpoint again to send the confirmation email. For security measures, user password is required to complete this request.\nThis endpoint can also be used to convert an anonymous account to a normal one, by passing an email address and a new password.\n",
                "responses": {
                    "200": {
                        "description": "User",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/user"
                                }
                            }
                        }
                    }
                },
                "x-appwrite": {
                    "method": "updateEmail",
                    "group": "account",
                    "weight": 35,
                    "cookies": false,
                    "type": "",
                    "deprecated": false,
                    "demo": "account\/update-email.md",
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/update-email.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "description": "User email.",
                                        "x-example": "email@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "description": "User password. Must be at least 8 chars.",
                                        "x-example": "password"
                                    }
                                },
                                "required": [
                                    "email",
                                    "password"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "\/account\/identities": {
            "get": {
                "summary": "List identities",
                "operationId": "accountListIdentities",
                "tags": [
                    "account"
                ],
                "description": "Get the list of identities for the currently logged in user.",
                "responses": {
                    "200": {
                        "description": "Identities List",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/identityList"
                                }
                            }
                        }
                    }
                },
                "x-appwrite": {
                    "method": "listIdentities",
                    "group": "identities",
                    "weight": 58,
                    "cookies": false,
                    "type": "",
                    "deprecated": false,
                    "demo": "account\/list-identities.md",
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/list-identities.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ],
                "parameters": [
                    {
                        "name": "queries",
                        "description": "Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https:\/\/appwrite.io\/docs\/queries). Maximum of 100 queries are allowed, each 4096 characters long. You may filter on the following attributes: userId, provider, providerUid, providerEmail, providerAccessTokenExpiry",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "default": []
                        },
                        "in": "query"
                    }
                ]
            }
        },
        "\/account\/identities\/{identityId}": {
            "delete": {
                "summary": "Delete identity",
                "operationId": "accountDeleteIdentity",
                "tags": [
                    "account"
                ],
                "description": "Delete an identity by its unique ID.",
                "responses": {
                    "204": {
                        "description": "No content"
                    }
                },
                "x-appwrite": {
                    "method": "deleteIdentity",
                    "group": "identities",
                    "weight": 59,
                    "cookies": false,
                    "type": "",
                    "deprecated": false,
                    "demo": "account\/delete-identity.md",
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/delete-identity.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ],
                "parameters": [
                    {
                        "name": "identityId",
                        "description": "Identity ID.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "x-example": "<IDENTITY_ID>"
                        },
                        "in": "path"
                    }
                ]
            }
        },
        "\/account\/jwts": {
            "post": {
                "summary": "Create JWT",
                "operationId": "accountCreateJWT",
                "tags": [
                    "account"
                ],
                "description": "Use this endpoint to create a JSON Web Token. You can use the resulting JWT to authenticate on behalf of the current user when working with the Appwrite server-side API and SDKs. The JWT secret is valid for 15 minutes from its creation and will be invalid if the user will logout in that time frame.",
                "responses": {
                    "201": {
                        "description": "JWT",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/jwt"
                                }
                            }
                        }
                    }
                },
                "x-appwrite": {
                    "method": "createJWT",
                    "group": "tokens",
                    "weight": 30,
                    "cookies": false,
                    "type": "",
                    "deprecated": false,
                    "demo": "account\/create-j-w-t.md",
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/create-jwt.md",
                    "rate-limit": 100,
                    "rate-time": 3600,
                    "rate-key": "url:{url},userId:{userId}",
                    "scope": "account",
                    "platforms": [
                        "server",
                        "client"
                    ],
                    "packaging": false,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": []
                    }
                ]
            }
        },
        "\/account\/logs": {
            "get": {
                "summary": "List logs",
                "operationId": "accountListLogs",
                "tags": [
                    "account"
                ],
                "description": "Get the list of latest security activity logs for the currently logged in user. Each log returns user IP address, location and date and time of log.",
                "responses": {
                    "200": {
                        "description": "Logs List",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/logList"
                                }
                            }
                        }
                    }
                },
                "x-appwrite": {
                    "method": "listLogs",
                    "group": "logs",
                    "weight": 32,
                    "cookies": false,
                    "type": "",
                    "deprecated": false,
                    "demo": "account\/list-logs.md",
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/list-logs.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ],
                "parameters": [
                    {
                        "name": "queries",
                        "description": "Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https:\/\/appwrite.io\/docs\/queries). Only supported methods are limit and offset",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "default": []
                        },
                        "in": "query"
                    }
                ]
            }
        },
        "\/account\/mfa": {
            "patch": {
                "summary": "Update MFA",
                "operationId": "accountUpdateMFA",
                "tags": [
                    "account"
                ],
                "description": "Enable or disable MFA on an account.",
                "responses": {
                    "200": {
                        "description": "User",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/user"
                                }
                            }
                        }
                    }
                },
                "x-appwrite": {
                    "method": "updateMFA",
                    "group": "mfa",
                    "weight": 45,
                    "cookies": false,
                    "type": "",
                    "deprecated": false,
                    "demo": "account\/update-m-f-a.md",
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/update-mfa.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "mfa": {
                                        "type": "boolean",
                                        "description": "Enable or disable MFA.",
                                        "x-example": false
                                    }
                                },
                                "required": [
                                    "mfa"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "\/account\/mfa\/authenticators\/{type}": {
            "post": {
                "summary": "Create authenticator",
                "operationId": "accountCreateMfaAuthenticator",
                "tags": [
                    "account"
                ],
                "description": "Add an authenticator app to be used as an MFA factor. Verify the authenticator using the [verify authenticator](\/docs\/references\/cloud\/client-web\/account#updateMfaAuthenticator) method.",
                "responses": {
                    "200": {
                        "description": "MFAType",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/mfaType"
                                }
                            }
                        }
                    }
                },
                "x-appwrite": {
                    "method": "createMfaAuthenticator",
                    "group": "mfa",
                    "weight": 47,
                    "cookies": false,
                    "type": "",
                    "deprecated": false,
                    "demo": "account\/create-mfa-authenticator.md",
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/create-mfa-authenticator.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ],
                "parameters": [
                    {
                        "name": "type",
                        "description": "Type of authenticator. Must be `totp`",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "x-example": "totp",
                            "enum": [
                                "totp"
                            ],
                            "x-enum-name": "AuthenticatorType",
                            "x-enum-keys": []
                        },
                        "in": "path"
                    }
                ]
            },
            "put": {
                "summary": "Update authenticator (confirmation)",
                "operationId": "accountUpdateMfaAuthenticator",
                "tags": [
                    "account"
                ],
                "description": "Verify an authenticator app after adding it using the [add authenticator](\/docs\/references\/cloud\/client-web\/account#createMfaAuthenticator) method.",
                "responses": {
                    "200": {
                        "description": "User",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/user"
                                }
                            }
                        }
                    }
                },
                "x-appwrite": {
                    "method": "updateMfaAuthenticator",
                    "group": "mfa",
                    "weight": 48,
                    "cookies": false,
                    "type": "",
                    "deprecated": false,
                    "demo": "account\/update-mfa-authenticator.md",
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/update-mfa-authenticator.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ],
                "parameters": [
                    {
                        "name": "type",
                        "description": "Type of authenticator.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "x-example": "totp",
                            "enum": [
                                "totp"
                            ],
                            "x-enum-name": "AuthenticatorType",
                            "x-enum-keys": []
                        },
                        "in": "path"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "otp": {
                                        "type": "string",
                                        "description": "Valid verification token.",
                                        "x-example": "<OTP>"
                                    }
                                },
                                "required": [
                                    "otp"
                                ]
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete authenticator",
                "operationId": "accountDeleteMfaAuthenticator",
                "tags": [
                    "account"
                ],
                "description": "Delete an authenticator for a user by ID.",
                "responses": {
                    "204": {
                        "description": "No content"
                    }
                },
                "x-appwrite": {
                    "method": "deleteMfaAuthenticator",
                    "group": "mfa",
                    "weight": 52,
                    "cookies": false,
                    "type": "",
                    "deprecated": false,
                    "demo": "account\/delete-mfa-authenticator.md",
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/delete-mfa-authenticator.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ],
                "parameters": [
                    {
                        "name": "type",
                        "description": "Type of authenticator.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "x-example": "totp",
                            "enum": [
                                "totp"
                            ],
                            "x-enum-name": "AuthenticatorType",
                            "x-enum-keys": []
                        },
                        "in": "path"
                    }
                ]
            }
        },
        "\/account\/mfa\/challenge": {
            "post": {
                "summary": "Create MFA challenge",
                "operationId": "accountCreateMfaChallenge",
                "tags": [
                    "account"
                ],
                "description": "Begin the process of MFA verification after sign-in. Finish the flow with [updateMfaChallenge](\/docs\/references\/cloud\/client-web\/account#updateMfaChallenge) method.",
                "responses": {
                    "201": {
                        "description": "MFA Challenge",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/mfaChallenge"
                                }
                            }
                        }
                    }
                },
                "x-appwrite": {
                    "method": "createMfaChallenge",
                    "group": "mfa",
                    "weight": 53,
                    "cookies": false,
                    "type": "",
                    "deprecated": false,
                    "demo": "account\/create-mfa-challenge.md",
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/create-mfa-challenge.md",
                    "rate-limit": 10,
                    "rate-time": 3600,
                    "rate-key": "url:{url},userId:{userId}",
                    "scope": "account",
                    "platforms": [
                        "server",
                        "client"
                    ],
                    "packaging": false,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "factor": {
                                        "type": "string",
                                        "description": "Factor used for verification. Must be one of following: `email`, `phone`, `totp`, `recoveryCode`.",
                                        "x-example": "email",
                                        "enum": [
                                            "email",
                                            "phone",
                                            "totp",
                                            "recoverycode"
                                        ],
                                        "x-enum-name": "AuthenticationFactor",
                                        "x-enum-keys": []
                                    }
                                },
                                "required": [
                                    "factor"
                                ]
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Update MFA challenge (confirmation)",
                "operationId": "accountUpdateMfaChallenge",
                "tags": [
                    "account"
                ],
                "description": "Complete the MFA challenge by providing the one-time password. Finish the process of MFA verification by providing the one-time password. To begin the flow, use [createMfaChallenge](\/docs\/references\/cloud\/client-web\/account#createMfaChallenge) method.",
                "responses": {
                    "200": {
                        "description": "Session",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/session"
                                }
                            }
                        }
                    }
                },
                "x-appwrite": {
                    "method": "updateMfaChallenge",
                    "group": "mfa",
                    "weight": 54,
                    "cookies": false,
                    "type": "",
                    "deprecated": false,
                    "demo": "account\/update-mfa-challenge.md",
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/update-mfa-challenge.md",
                    "rate-limit": 10,
                    "rate-time": 3600,
                    "rate-key": "url:{url},challengeId:{param-challengeId}",
                    "scope": "account",
                    "platforms": [
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "challengeId": {
                                        "type": "string",
                                        "description": "ID of the challenge.",
                                        "x-example": "<CHALLENGE_ID>"
                                    },
                                    "otp": {
                                        "type": "string",
                                        "description": "Valid verification token.",
                                        "x-example": "<OTP>"
                                    }
                                },
                                "required": [
                                    "challengeId",
                                    "otp"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "\/account\/mfa\/factors": {
            "get": {
                "summary": "List factors",
                "operationId": "accountListMfaFactors",
                "tags": [
                    "account"
                ],
                "description": "List the factors available on the account to be used as a MFA challange.",
                "responses": {
                    "200": {
                        "description": "MFAFactors",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/mfaFactors"
                                }
                            }
                        }
                    }
                },
                "x-appwrite": {
                    "method": "listMfaFactors",
                    "group": "mfa",
                    "weight": 46,
                    "cookies": false,
                    "type": "",
                    "deprecated": false,
                    "demo": "account\/list-mfa-factors.md",
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/list-mfa-factors.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ]
            }
        },
        "\/account\/mfa\/recovery-codes": {
            "get": {
                "summary": "List MFA recovery codes",
                "operationId": "accountGetMfaRecoveryCodes",
                "tags": [
                    "account"
                ],
                "description": "Get recovery codes that can be used as backup for MFA flow. Before getting codes, they must be generated using [createMfaRecoveryCodes](\/docs\/references\/cloud\/client-web\/account#createMfaRecoveryCodes) method. An OTP challenge is required to read recovery codes.",
                "responses": {
                    "200": {
                        "description": "MFA Recovery Codes",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/mfaRecoveryCodes"
                                }
                            }
                        }
                    }
                },
                "x-appwrite": {
                    "method": "getMfaRecoveryCodes",
                    "group": "mfa",
                    "weight": 51,
                    "cookies": false,
                    "type": "",
                    "deprecated": false,
                    "demo": "account\/get-mfa-recovery-codes.md",
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/get-mfa-recovery-codes.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ]
            },
            "post": {
                "summary": "Create MFA recovery codes",
                "operationId": "accountCreateMfaRecoveryCodes",
                "tags": [
                    "account"
                ],
                "description": "Generate recovery codes as backup for MFA flow. It's recommended to generate and show then immediately after user successfully adds their authehticator. Recovery codes can be used as a MFA verification type in [createMfaChallenge](\/docs\/references\/cloud\/client-web\/account#createMfaChallenge) method.",
                "responses": {
                    "201": {
                        "description": "MFA Recovery Codes",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/mfaRecoveryCodes"
                                }
                            }
                        }
                    }
                },
                "x-appwrite": {
                    "method": "createMfaRecoveryCodes",
                    "group": "mfa",
                    "weight": 49,
                    "cookies": false,
                    "type": "",
                    "deprecated": false,
                    "demo": "account\/create-mfa-recovery-codes.md",
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/create-mfa-recovery-codes.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ]
            },
            "patch": {
                "summary": "Update MFA recovery codes (regenerate)",
                "operationId": "accountUpdateMfaRecoveryCodes",
                "tags": [
                    "account"
                ],
                "description": "Regenerate recovery codes that can be used as backup for MFA flow. Before regenerating codes, they must be first generated using [createMfaRecoveryCodes](\/docs\/references\/cloud\/client-web\/account#createMfaRecoveryCodes) method. An OTP challenge is required to regenreate recovery codes.",
                "responses": {
                    "200": {
                        "description": "MFA Recovery Codes",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/mfaRecoveryCodes"
                                }
                            }
                        }
                    }
                },
                "x-appwrite": {
                    "method": "updateMfaRecoveryCodes",
                    "group": "mfa",
                    "weight": 50,
                    "cookies": false,
                    "type": "",
                    "deprecated": false,
                    "demo": "account\/update-mfa-recovery-codes.md",
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/update-mfa-recovery-codes.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ]
            }
        },
        "\/account\/name": {
            "patch": {
                "summary": "Update name",
                "operationId": "accountUpdateName",
                "tags": [
                    "account"
                ],
                "description": "Update currently logged in user account name.",
                "responses": {
                    "200": {
                        "description": "User",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/user"
                                }
                            }
                        }
                    }
                },
                "x-appwrite": {
                    "method": "updateName",
                    "group": "account",
                    "weight": 33,
                    "cookies": false,
                    "type": "",
                    "deprecated": false,
                    "demo": "account\/update-name.md",
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/update-name.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "User name. Max length: 128 chars.",
                                        "x-example": "<NAME>"
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "\/account\/password": {
            "patch": {
                "summary": "Update password",
                "operationId": "accountUpdatePassword",
                "tags": [
                    "account"
                ],
                "description": "Update currently logged in user password. For validation, user is required to pass in the new password, and the old password. For users created with OAuth, Team Invites and Magic URL, oldPassword is optional.",
                "responses": {
                    "200": {
                        "description": "User",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/user"
                                }
                            }
                        }
                    }
                },
                "x-appwrite": {
                    "method": "updatePassword",
                    "group": "account",
                    "weight": 34,
                    "cookies": false,
                    "type": "",
                    "deprecated": false,
                    "demo": "account\/update-password.md",
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/update-password.md",
                    "rate-limit": 10,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "password": {
                                        "type": "string",
                                        "description": "New user password. Must be at least 8 chars.",
                                        "x-example": null
                                    },
                                    "oldPassword": {
                                        "type": "string",
                                        "description": "Current user password. Must be at least 8 chars.",
                                        "x-example": "password"
                                    }
                                },
                                "required": [
                                    "password"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "\/account\/phone": {
            "patch": {
                "summary": "Update phone",
                "operationId": "accountUpdatePhone",
                "tags": [
                    "account"
                ],
                "description": "Update the currently logged in user's phone number. After updating the phone number, the phone verification status will be reset. A confirmation SMS is not sent automatically, however you can use the [POST \/account\/verification\/phone](https:\/\/appwrite.io\/docs\/references\/cloud\/client-web\/account#createPhoneVerification) endpoint to send a confirmation SMS.",
                "responses": {
                    "200": {
                        "description": "User",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/user"
                                }
                            }
                        }
                    }
                },
                "x-appwrite": {
                    "method": "updatePhone",
                    "group": "account",
                    "weight": 36,
                    "cookies": false,
                    "type": "",
                    "deprecated": false,
                    "demo": "account\/update-phone.md",
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/update-phone.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "phone": {
                                        "type": "string",
                                        "description": "Phone number. Format this number with a leading '+' and a country code, e.g., +16175551212.",
                                        "x-example": "+12065550100"
                                    },
                                    "password": {
                                        "type": "string",
                                        "description": "User password. Must be at least 8 chars.",
                                        "x-example": "password"
                                    }
                                },
                                "required": [
                                    "phone",
                                    "password"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "\/account\/prefs": {
            "get": {
                "summary": "Get account preferences",
                "operationId": "accountGetPrefs",
                "tags": [
                    "account"
                ],
                "description": "Get the preferences as a key-value object for the currently logged in user.",
                "responses": {
                    "200": {
                        "description": "Preferences",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/preferences"
                                }
                            }
                        }
                    }
                },
                "x-appwrite": {
                    "method": "getPrefs",
                    "group": "account",
                    "weight": 31,
                    "cookies": false,
                    "type": "",
                    "deprecated": false,
                    "demo": "account\/get-prefs.md",
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/get-prefs.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ]
            },
            "patch": {
                "summary": "Update preferences",
                "operationId": "accountUpdatePrefs",
                "tags": [
                    "account"
                ],
                "description": "Update currently logged in user account preferences. The object you pass is stored as is, and replaces any previous value. The maximum allowed prefs size is 64kB and throws error if exceeded.",
                "responses": {
                    "200": {
                        "description": "User",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/user"
                                }
                            }
                        }
                    }
                },
                "x-appwrite": {
                    "method": "updatePrefs",
                    "group": "account",
                    "weight": 37,
                    "cookies": false,
                    "type": "",
                    "deprecated": false,
                    "demo": "account\/update-prefs.md",
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/update-prefs.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "prefs": {
                                        "type": "object",
                                        "description": "Prefs key-value JSON object.",
                                        "x-example": "{}"
                                    }
                                },
                                "required": [
                                    "prefs"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "\/account\/recovery": {
            "post": {
                "summary": "Create password recovery",
                "operationId": "accountCreateRecovery",
                "tags": [
                    "account"
                ],
                "description": "Sends the user an email with a temporary secret key for password reset. When the user clicks the confirmation link he is redirected back to your app password reset URL with the secret key and email address values attached to the URL query string. Use the query string params to submit a request to the [PUT \/account\/recovery](https:\/\/appwrite.io\/docs\/references\/cloud\/client-web\/account#updateRecovery) endpoint to complete the process. The verification link sent to the user's email address is valid for 1 hour.",
                "responses": {
                    "201": {
                        "description": "Token",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/token"
                                }
                            }
                        }
                    }
                },
                "x-appwrite": {
                    "method": "createRecovery",
                    "group": "recovery",
                    "weight": 39,
                    "cookies": false,
                    "type": "",
                    "deprecated": false,
                    "demo": "account\/create-recovery.md",
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/create-recovery.md",
                    "rate-limit": 10,
                    "rate-time": 3600,
                    "rate-key": [
                        "url:{url},email:{param-email}",
                        "url:{url},ip:{ip}"
                    ],
                    "scope": "sessions.write",
                    "platforms": [
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "description": "User email.",
                                        "x-example": "email@example.com"
                                    },
                                    "url": {
                                        "type": "string",
                                        "description": "URL to redirect the user back to your app from the recovery email. Only URLs from hostnames in your project platform list are allowed. This requirement helps to prevent an [open redirect](https:\/\/cheatsheetseries.owasp.org\/cheatsheets\/Unvalidated_Redirects_and_Forwards_Cheat_Sheet.html) attack against your project API.",
                                        "x-example": "https:\/\/example.com"
                                    }
                                },
                                "required": [
                                    "email",
                                    "url"
                                ]
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Update password recovery (confirmation)",
                "operationId": "accountUpdateRecovery",
                "tags": [
                    "account"
                ],
                "description": "Use this endpoint to complete the user account password reset. Both the **userId** and **secret** arguments will be passed as query parameters to the redirect URL you have provided when sending your request to the [POST \/account\/recovery](https:\/\/appwrite.io\/docs\/references\/cloud\/client-web\/account#createRecovery) endpoint.\n\nPlease note that in order to avoid a [Redirect Attack](https:\/\/github.com\/OWASP\/CheatSheetSeries\/blob\/master\/cheatsheets\/Unvalidated_Redirects_and_Forwards_Cheat_Sheet.md) the only valid redirect URLs are the ones from domains you have set when adding your platforms in the console interface.",
                "responses": {
                    "200": {
                        "description": "Token",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/token"
                                }
                            }
                        }
                    }
                },
                "x-appwrite": {
                    "method": "updateRecovery",
                    "group": "recovery",
                    "weight": 40,
                    "cookies": false,
                    "type": "",
                    "deprecated": false,
                    "demo": "account\/update-recovery.md",
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/update-recovery.md",
                    "rate-limit": 10,
                    "rate-time": 3600,
                    "rate-key": "url:{url},userId:{param-userId}",
                    "scope": "sessions.write",
                    "platforms": [
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "userId": {
                                        "type": "string",
                                        "description": "User ID.",
                                        "x-example": "<USER_ID>"
                                    },
                                    "secret": {
                                        "type": "string",
                                        "description": "Valid reset token.",
                                        "x-example": "<SECRET>"
                                    },
                                    "password": {
                                        "type": "string",
                                        "description": "New user password. Must be between 8 and 256 chars.",
                                        "x-example": null
                                    }
                                },
                                "required": [
                                    "userId",
                                    "secret",
                                    "password"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "\/account\/sessions": {
            "get": {
                "summary": "List sessions",
                "operationId": "accountListSessions",
                "tags": [
                    "account"
                ],
                "description": "Get the list of active sessions across different devices for the currently logged in user.",
                "responses": {
                    "200": {
                        "description": "Sessions List",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/sessionList"
                                }
                            }
                        }
                    }
                },
                "x-appwrite": {
                    "method": "listSessions",
                    "group": "sessions",
                    "weight": 12,
                    "cookies": false,
                    "type": "",
                    "deprecated": false,
                    "demo": "account\/list-sessions.md",
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/list-sessions.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ]
            },
            "delete": {
                "summary": "Delete sessions",
                "operationId": "accountDeleteSessions",
                "tags": [
                    "account"
                ],
                "description": "Delete all sessions from the user account and remove any sessions cookies from the end client.",
                "responses": {
                    "204": {
                        "description": "No content"
                    }
                },
                "x-appwrite": {
                    "method": "deleteSessions",
                    "group": "sessions",
                    "weight": 13,
                    "cookies": false,
                    "type": "",
                    "deprecated": false,
                    "demo": "account\/delete-sessions.md",
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/delete-sessions.md",
                    "rate-limit": 100,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ]
            }
        },
        "\/account\/sessions\/anonymous": {
            "post": {
                "summary": "Create anonymous session",
                "operationId": "accountCreateAnonymousSession",
                "tags": [
                    "account"
                ],
                "description": "Use this endpoint to allow a new user to register an anonymous account in your project. This route will also create a new session for the user. To allow the new user to convert an anonymous account to a normal account, you need to update its [email and password](https:\/\/appwrite.io\/docs\/references\/cloud\/client-web\/account#updateEmail) or create an [OAuth2 session](https:\/\/appwrite.io\/docs\/references\/cloud\/client-web\/account#CreateOAuth2Session).",
                "responses": {
                    "201": {
                        "description": "Session",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/session"
                                }
                            }
                        }
                    }
                },
                "x-appwrite": {
                    "method": "createAnonymousSession",
                    "group": "sessions",
                    "weight": 18,
                    "cookies": false,
                    "type": "",
                    "deprecated": false,
                    "demo": "account\/create-anonymous-session.md",
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/create-session-anonymous.md",
                    "rate-limit": 50,
                    "rate-time": 3600,
                    "rate-key": "ip:{ip}",
                    "scope": "sessions.write",
                    "platforms": [
                        "server",
                        "client"
                    ],
                    "packaging": false,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": []
                    }
                ]
            }
        },
        "\/account\/sessions\/email": {
            "post": {
                "summary": "Create email password session",
                "operationId": "accountCreateEmailPasswordSession",
                "tags": [
                    "account"
                ],
                "description": "Allow the user to login into their account by providing a valid email and password combination. This route will create a new session for the user.\n\nA user is limited to 10 active sessions at a time by default. [Learn more about session limits](https:\/\/appwrite.io\/docs\/authentication-security#limits).",
                "responses": {
                    "201": {
                        "description": "Session",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/session"
                                }
                            }
                        }
                    }
                },
                "x-appwrite": {
                    "method": "createEmailPasswordSession",
                    "group": "sessions",
                    "weight": 17,
                    "cookies": false,
                    "type": "",
                    "deprecated": false,
                    "demo": "account\/create-email-password-session.md",
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/create-session-email-password.md",
                    "rate-limit": 10,
                    "rate-time": 3600,
                    "rate-key": "url:{url},email:{param-email}",
                    "scope": "sessions.write",
                    "platforms": [
                        "server",
                        "client"
                    ],
                    "packaging": false,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "description": "User email.",
                                        "x-example": "email@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "description": "User password. Must be at least 8 chars.",
                                        "x-example": "password"
                                    }
                                },
                                "required": [
                                    "email",
                                    "password"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "\/account\/sessions\/magic-url": {
            "put": {
                "summary": "Update magic URL session",
                "operationId": "accountUpdateMagicURLSession",
                "tags": [
                    "account"
                ],
                "description": "Use this endpoint to create a session from token. Provide the **userId** and **secret** parameters from the successful response of authentication flows initiated by token creation. For example, magic URL and phone login.",
                "responses": {
                    "201": {
                        "description": "Session",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/session"
                                }
                            }
                        }
                    }
                },
                "x-appwrite": {
                    "method": "updateMagicURLSession",
                    "group": "sessions",
                    "weight": 27,
                    "cookies": false,
                    "type": "",
                    "deprecated": true,
                    "demo": "account\/update-magic-u-r-l-session.md",
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/create-session.md",
                    "rate-limit": 10,
                    "rate-time": 3600,
                    "rate-key": "ip:{ip},userId:{param-userId}",
                    "scope": "sessions.write",
                    "platforms": [
                        "server",
                        "client"
                    ],
                    "packaging": false,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "userId": {
                                        "type": "string",
                                        "description": "User ID. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.",
                                        "x-example": "<USER_ID>"
                                    },
                                    "secret": {
                                        "type": "string",
                                        "description": "Valid verification token.",
                                        "x-example": "<SECRET>"
                                    }
                                },
                                "required": [
                                    "userId",
                                    "secret"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "\/account\/sessions\/oauth2\/{provider}": {
            "get": {
                "summary": "Create OAuth2 session",
                "operationId": "accountCreateOAuth2Session",
                "tags": [
                    "account"
                ],
                "description": "Allow the user to login to their account using the OAuth2 provider of their choice. Each OAuth2 provider should be enabled from the Appwrite console first. Use the success and failure arguments to provide a redirect URL's back to your app when login is completed.\n\nIf there is already an active session, the new session will be attached to the logged-in account. If there are no active sessions, the server will attempt to look for a user with the same email address as the email received from the OAuth2 provider and attach the new session to the existing user. If no matching user is found - the server will create a new user.\n\nA user is limited to 10 active sessions at a time by default. [Learn more about session limits](https:\/\/appwrite.io\/docs\/authentication-security#limits).\n",
                "responses": {
                    "301": {
                        "description": "File"
                    }
                },
                "x-appwrite": {
                    "method": "createOAuth2Session",
                    "group": "sessions",
                    "weight": 20,
                    "cookies": false,
                    "type": "webAuth",
                    "deprecated": false,
                    "demo": "account\/create-o-auth2session.md",
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/create-session-oauth2.md",
                    "rate-limit": 50,
                    "rate-time": 3600,
                    "rate-key": "ip:{ip}",
                    "scope": "sessions.write",
                    "platforms": [
                        "server",
                        "client"
                    ],
                    "packaging": false,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": []
                    }
                ],
                "parameters": [
                    {
                        "name": "provider",
                        "description": "OAuth2 Provider. Currently, supported providers are: amazon, apple, auth0, authentik, autodesk, bitbucket, bitly, box, dailymotion, discord, disqus, dropbox, etsy, facebook, figma, github, gitlab, google, linkedin, microsoft, notion, oidc, okta, paypal, paypalSandbox, podio, salesforce, slack, spotify, stripe, tradeshift, tradeshiftBox, twitch, wordpress, yahoo, yammer, yandex, zoho, zoom.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "x-example": "amazon",
                            "enum": [
                                "amazon",
                                "apple",
                                "auth0",
                                "authentik",
                                "autodesk",
                                "bitbucket",
                                "bitly",
                                "box",
                                "dailymotion",
                                "discord",
                                "disqus",
                                "dropbox",
                                "etsy",
                                "facebook",
                                "figma",
                                "github",
                                "gitlab",
                                "google",
                                "linkedin",
                                "microsoft",
                                "notion",
                                "oidc",
                                "okta",
                                "paypal",
                                "paypalSandbox",
                                "podio",
                                "salesforce",
                                "slack",
                                "spotify",
                                "stripe",
                                "tradeshift",
                                "tradeshiftBox",
                                "twitch",
                                "wordpress",
                                "yahoo",
                                "yammer",
                                "yandex",
                                "zoho",
                                "zoom",
                                "mock"
                            ],
                            "x-enum-name": "OAuthProvider",
                            "x-enum-keys": []
                        },
                        "in": "path"
                    },
                    {
                        "name": "success",
                        "description": "URL to redirect back to your app after a successful login attempt.  Only URLs from hostnames in your project's platform list are allowed. This requirement helps to prevent an [open redirect](https:\/\/cheatsheetseries.owasp.org\/cheatsheets\/Unvalidated_Redirects_and_Forwards_Cheat_Sheet.html) attack against your project API.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "url",
                            "x-example": "https:\/\/example.com",
                            "default": ""
                        },
                        "in": "query"
                    },
                    {
                        "name": "failure",
                        "description": "URL to redirect back to your app after a failed login attempt.  Only URLs from hostnames in your project's platform list are allowed. This requirement helps to prevent an [open redirect](https:\/\/cheatsheetseries.owasp.org\/cheatsheets\/Unvalidated_Redirects_and_Forwards_Cheat_Sheet.html) attack against your project API.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "url",
                            "x-example": "https:\/\/example.com",
                            "default": ""
                        },
                        "in": "query"
                    },
                    {
                        "name": "scopes",
                        "description": "A list of custom OAuth2 scopes. Check each provider internal docs for a list of supported scopes. Maximum of 100 scopes are allowed, each 4096 characters long.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "default": []
                        },
                        "in": "query"
                    }
                ]
            }
        },
        "\/account\/sessions\/phone": {
            "put": {
                "summary": "Update phone session",
                "operationId": "accountUpdatePhoneSession",
                "tags": [
                    "account"
                ],
                "description": "Use this endpoint to create a session from token. Provide the **userId** and **secret** parameters from the successful response of authentication flows initiated by token creation. For example, magic URL and phone login.",
                "responses": {
                    "201": {
                        "description": "Session",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/session"
                                }
                            }
                        }
                    }
                },
                "x-appwrite": {
                    "method": "updatePhoneSession",
                    "group": "sessions",
                    "weight": 28,
                    "cookies": false,
                    "type": "",
                    "deprecated": true,
                    "demo": "account\/update-phone-session.md",
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/create-session.md",
                    "rate-limit": 10,
                    "rate-time": 3600,
                    "rate-key": "ip:{ip},userId:{param-userId}",
                    "scope": "sessions.write",
                    "platforms": [
                        "server",
                        "client"
                    ],
                    "packaging": false,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "userId": {
                                        "type": "string",
                                        "description": "User ID. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.",
                                        "x-example": "<USER_ID>"
                                    },
                                    "secret": {
                                        "type": "string",
                                        "description": "Valid verification token.",
                                        "x-example": "<SECRET>"
                                    }
                                },
                                "required": [
                                    "userId",
                                    "secret"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "\/account\/sessions\/token": {
            "post": {
                "summary": "Create session",
                "operationId": "accountCreateSession",
                "tags": [
                    "account"
                ],
                "description": "Use this endpoint to create a session from token. Provide the **userId** and **secret** parameters from the successful response of authentication flows initiated by token creation. For example, magic URL and phone login.",
                "responses": {
                    "201": {
                        "description": "Session",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/session"
                                }
                            }
                        }
                    }
                },
                "x-appwrite": {
                    "method": "createSession",
                    "group": "sessions",
                    "weight": 19,
                    "cookies": false,
                    "type": "",
                    "deprecated": false,
                    "demo": "account\/create-session.md",
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/create-session.md",
                    "rate-limit": 10,
                    "rate-time": 3600,
                    "rate-key": "ip:{ip},userId:{param-userId}",
                    "scope": "sessions.write",
                    "platforms": [
                        "server",
                        "client"
                    ],
                    "packaging": false,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "userId": {
                                        "type": "string",
                                        "description": "User ID. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.",
                                        "x-example": "<USER_ID>"
                                    },
                                    "secret": {
                                        "type": "string",
                                        "description": "Secret of a token generated by login methods. For example, the `createMagicURLToken` or `createPhoneToken` methods.",
                                        "x-example": "<SECRET>"
                                    }
                                },
                                "required": [
                                    "userId",
                                    "secret"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "\/account\/sessions\/{sessionId}": {
            "get": {
                "summary": "Get session",
                "operationId": "accountGetSession",
                "tags": [
                    "account"
                ],
                "description": "Use this endpoint to get a logged in user's session using a Session ID. Inputting 'current' will return the current session being used.",
                "responses": {
                    "200": {
                        "description": "Session",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/session"
                                }
                            }
                        }
                    }
                },
                "x-appwrite": {
                    "method": "getSession",
                    "group": "sessions",
                    "weight": 14,
                    "cookies": false,
                    "type": "",
                    "deprecated": false,
                    "demo": "account\/get-session.md",
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/get-session.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ],
                "parameters": [
                    {
                        "name": "sessionId",
                        "description": "Session ID. Use the string 'current' to get the current device session.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "x-example": "<SESSION_ID>"
                        },
                        "in": "path"
                    }
                ]
            },
            "patch": {
                "summary": "Update session",
                "operationId": "accountUpdateSession",
                "tags": [
                    "account"
                ],
                "description": "Use this endpoint to extend a session's length. Extending a session is useful when session expiry is short. If the session was created using an OAuth provider, this endpoint refreshes the access token from the provider.",
                "responses": {
                    "200": {
                        "description": "Session",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/session"
                                }
                            }
                        }
                    }
                },
                "x-appwrite": {
                    "method": "updateSession",
                    "group": "sessions",
                    "weight": 16,
                    "cookies": false,
                    "type": "",
                    "deprecated": false,
                    "demo": "account\/update-session.md",
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/update-session.md",
                    "rate-limit": 10,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ],
                "parameters": [
                    {
                        "name": "sessionId",
                        "description": "Session ID. Use the string 'current' to update the current device session.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "x-example": "<SESSION_ID>"
                        },
                        "in": "path"
                    }
                ]
            },
            "delete": {
                "summary": "Delete session",
                "operationId": "accountDeleteSession",
[...]
