{
    "openapi": "3.0.0",
    "info": {
        "version": "1.9.3",
        "title": "Appwrite",
        "description": "Appwrite backend as a service cuts up to 70% of the time and costs required for building a modern application. We abstract and simplify common development tasks behind a REST APIs, to help you develop your app in a fast and secure way. For full API documentation and tutorials go to [https:\/\/appwrite.io\/docs](https:\/\/appwrite.io\/docs)",
        "termsOfService": "https:\/\/appwrite.io\/policy\/terms",
        "contact": {
            "name": "Appwrite Team",
            "url": "https:\/\/appwrite.io\/support",
            "email": "team@appwrite.io"
        },
        "license": {
            "name": "BSD-3-Clause",
            "url": "https:\/\/raw.githubusercontent.com\/appwrite\/appwrite\/master\/LICENSE"
        }
    },
    "servers": [
        {
            "url": "https:\/\/cloud.appwrite.io\/v1"
        },
        {
            "url": "https:\/\/<REGION>.cloud.appwrite.io\/v1"
        }
    ],
    "paths": {
        "\/account": {
            "get": {
                "summary": "Get account",
                "operationId": "accountGet",
                "tags": [
                    "account"
                ],
                "description": "Get the currently logged in user.",
                "responses": {
                    "200": {
                        "description": "User",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/user"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-appwrite": {
                    "method": "get",
                    "group": "account",
                    "weight": 9,
                    "cookies": false,
                    "type": "",
                    "demo": "account\/get.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": true,
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/get.md",
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ]
            },
            "post": {
                "summary": "Create account",
                "operationId": "accountCreate",
                "tags": [
                    "account"
                ],
                "description": "Use this endpoint to allow a new user to register a new account in your project. After the user registration completes successfully, you can use the [\/account\/verfication](https:\/\/appwrite.io\/docs\/references\/cloud\/client-web\/account#createVerification) route to start verifying the user email address. To allow the new user to login to their new account, you need to create a new [account session](https:\/\/appwrite.io\/docs\/references\/cloud\/client-web\/account#createEmailSession).",
                "responses": {
                    "201": {
                        "description": "User",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/user"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-appwrite": {
                    "method": "create",
                    "group": "account",
                    "weight": 8,
                    "cookies": false,
                    "type": "",
                    "demo": "account\/create.md",
                    "rate-limit": 10,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "sessions.write",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": true,
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/create.md",
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "userId": {
                                        "type": "string",
                                        "description": "User ID. Choose a custom ID or generate a random ID with `ID.unique()`. Valid chars are a-z, A-Z, 0-9, period, hyphen, and underscore. Can't start with a special char. Max length is 36 chars.",
                                        "x-example": "<USER_ID>"
                                    },
                                    "email": {
                                        "type": "string",
                                        "description": "User email.",
                                        "x-example": "email@example.com",
                                        "format": "email"
                                    },
                                    "password": {
                                        "type": "string",
                                        "description": "New user password. Must be between 8 and 256 chars.",
                                        "x-example": null
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": "User name. Max length: 128 chars.",
                                        "x-example": "<NAME>"
                                    }
                                },
                                "required": [
                                    "userId",
                                    "email",
                                    "password"
                                ]
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete account",
                "operationId": "accountDelete",
                "tags": [
                    "account"
                ],
                "description": "Delete the currently logged in user.",
                "responses": {
                    "204": {
                        "description": "No content"
                    }
                },
                "deprecated": false,
                "x-appwrite": {
                    "method": "delete",
                    "group": "account",
                    "weight": 10,
                    "cookies": false,
                    "type": "",
                    "demo": "account\/delete.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console"
                    ],
                    "packaging": false,
                    "public": true,
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/delete.md",
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": []
                    }
                ]
            }
        },
        "\/account\/email": {
            "patch": {
                "summary": "Update email",
                "operationId": "accountUpdateEmail",
                "tags": [
                    "account"
                ],
                "description": "Update currently logged in user account email address. After changing user address, the user confirmation status will get reset. A new confirmation email is not sent automatically however you can use the send confirmation email endpoint again to send the confirmation email. For security measures, user password is required to complete this request.\nThis endpoint can also be used to convert an anonymous account to a normal one, by passing an email address and a new password.\n",
                "responses": {
                    "200": {
                        "description": "User",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/user"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-appwrite": {
                    "method": "updateEmail",
                    "group": "account",
                    "weight": 34,
                    "cookies": false,
                    "type": "",
                    "demo": "account\/update-email.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": true,
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/update-email.md",
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "description": "User email.",
                                        "x-example": "email@example.com",
                                        "format": "email"
                                    },
                                    "password": {
                                        "type": "string",
                                        "description": "User password. Must be at least 8 chars.",
                                        "x-example": "password",
                                        "format": "password"
                                    }
                                },
                                "required": [
                                    "email",
                                    "password"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "\/account\/identities": {
            "get": {
                "summary": "List identities",
                "operationId": "accountListIdentities",
                "tags": [
                    "account"
                ],
                "description": "Get the list of identities for the currently logged in user.",
                "responses": {
                    "200": {
                        "description": "Identities List",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/identityList"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-appwrite": {
                    "method": "listIdentities",
                    "group": "identities",
                    "weight": 47,
                    "cookies": false,
                    "type": "",
                    "demo": "account\/list-identities.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": true,
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/list-identities.md",
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ],
                "parameters": [
                    {
                        "name": "queries",
                        "description": "Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https:\/\/appwrite.io\/docs\/queries). Maximum of 100 queries are allowed, each 4096 characters long. You may filter on the following attributes: userId, provider, providerUid, providerEmail, providerAccessTokenExpiry",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "default": []
                        },
                        "in": "query"
                    },
                    {
                        "name": "total",
                        "description": "When set to false, the total count returned will be 0 and will not be calculated.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "x-example": false,
                            "default": true
                        },
                        "in": "query"
                    }
                ]
            }
        },
        "\/account\/identities\/{identityId}": {
            "delete": {
                "summary": "Delete identity",
                "operationId": "accountDeleteIdentity",
                "tags": [
                    "account"
                ],
                "description": "Delete an identity by its unique ID.",
                "responses": {
                    "204": {
                        "description": "No content"
                    }
                },
                "deprecated": false,
                "x-appwrite": {
                    "method": "deleteIdentity",
                    "group": "identities",
                    "weight": 48,
                    "cookies": false,
                    "type": "",
                    "demo": "account\/delete-identity.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": true,
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/delete-identity.md",
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ],
                "parameters": [
                    {
                        "name": "identityId",
                        "description": "Identity ID.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "x-example": "<IDENTITY_ID>"
                        },
                        "in": "path"
                    }
                ]
            }
        },
        "\/account\/jwts": {
            "post": {
                "summary": "Create JWT",
                "operationId": "accountCreateJWT",
                "tags": [
                    "account"
                ],
                "description": "Use this endpoint to create a JSON Web Token. You can use the resulting JWT to authenticate on behalf of the current user when working with the Appwrite server-side API and SDKs. The JWT secret is valid for 15 minutes from its creation and will be invalid if the user will logout in that time frame.",
                "responses": {
                    "201": {
                        "description": "JWT",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/jwt"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-appwrite": {
                    "method": "createJWT",
                    "group": "tokens",
                    "weight": 29,
                    "cookies": false,
                    "type": "",
                    "demo": "account\/create-jwt.md",
                    "rate-limit": 120,
                    "rate-time": 60,
                    "rate-key": "url:{url},userId:{userId}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": true,
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/create-jwt.md",
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "duration": {
                                        "type": "integer",
                                        "description": "Time in seconds before JWT expires. Default duration is 900 seconds, and maximum is 3600 seconds.",
                                        "x-example": 0,
                                        "format": "int32"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/account\/logs": {
            "get": {
                "summary": "List logs",
                "operationId": "accountListLogs",
                "tags": [
                    "account"
                ],
                "description": "Get the list of latest security activity logs for the currently logged in user. Each log returns user IP address, location and date and time of log.",
                "responses": {
                    "200": {
                        "description": "Logs List",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/logList"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-appwrite": {
                    "method": "listLogs",
                    "group": "logs",
                    "weight": 31,
                    "cookies": false,
                    "type": "",
                    "demo": "account\/list-logs.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": true,
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/list-logs.md",
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ],
                "parameters": [
                    {
                        "name": "queries",
                        "description": "Array of query strings generated using the Query class provided by the SDK. [Learn more about queries](https:\/\/appwrite.io\/docs\/queries). Only supported methods are limit and offset",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "default": []
                        },
                        "in": "query"
                    },
                    {
                        "name": "total",
                        "description": "When set to false, the total count returned will be 0 and will not be calculated.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "x-example": false,
                            "default": true
                        },
                        "in": "query"
                    }
                ]
            }
        },
        "\/account\/mfa": {
            "patch": {
                "summary": "Update MFA",
                "operationId": "accountUpdateMFA",
                "tags": [
                    "account"
                ],
                "description": "Enable or disable MFA on an account.",
                "responses": {
                    "200": {
                        "description": "User",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/user"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-appwrite": {
                    "method": "updateMFA",
                    "group": "mfa",
                    "weight": 166,
                    "cookies": false,
                    "type": "",
                    "demo": "account\/update-mfa.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": true,
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/update-mfa.md",
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "mfa": {
                                        "type": "boolean",
                                        "description": "Enable or disable MFA.",
                                        "x-example": false
                                    }
                                },
                                "required": [
                                    "mfa"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "\/account\/mfa\/authenticators\/{type}": {
            "post": {
                "summary": "Create authenticator",
                "operationId": "accountCreateMfaAuthenticator",
                "tags": [
                    "account"
                ],
                "description": "Add an authenticator app to be used as an MFA factor. Verify the authenticator using the [verify authenticator](\/docs\/references\/cloud\/client-web\/account#updateMfaAuthenticator) method.",
                "responses": {
                    "200": {
                        "description": "MFAType",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/mfaType"
                                }
                            }
                        }
                    }
                },
                "deprecated": true,
                "x-appwrite": {
                    "method": "createMfaAuthenticator",
                    "group": "mfa",
                    "weight": 168,
                    "cookies": false,
                    "type": "",
                    "demo": "account\/create-mfa-authenticator.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": false,
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/create-mfa-authenticator.md",
                    "deprecated": {
                        "since": "1.8.0",
                        "replaceWith": "account.createMFAAuthenticator"
                    },
                    "methods": [
                        {
                            "name": "createMfaAuthenticator",
                            "namespace": "account",
                            "desc": "",
                            "auth": {
                                "Project": []
                            },
                            "parameters": [
                                "type"
                            ],
                            "required": [
                                "type"
                            ],
                            "responses": [
                                {
                                    "code": 200,
                                    "model": "#\/components\/schemas\/mfaType"
                                }
                            ],
                            "description": "Add an authenticator app to be used as an MFA factor. Verify the authenticator using the [verify authenticator](\/docs\/references\/cloud\/client-web\/account#updateMfaAuthenticator) method.",
                            "demo": "account\/create-mfa-authenticator.md",
                            "public": false,
                            "deprecated": {
                                "since": "1.8.0",
                                "replaceWith": "account.createMFAAuthenticator"
                            }
                        },
                        {
                            "name": "createMFAAuthenticator",
                            "namespace": "account",
                            "desc": "",
                            "auth": {
                                "Project": []
                            },
                            "parameters": [
                                "type"
                            ],
                            "required": [
                                "type"
                            ],
                            "responses": [
                                {
                                    "code": 200,
                                    "model": "#\/components\/schemas\/mfaType"
                                }
                            ],
                            "description": "Add an authenticator app to be used as an MFA factor. Verify the authenticator using the [verify authenticator](\/docs\/references\/cloud\/client-web\/account#updateMfaAuthenticator) method.",
                            "demo": "account\/create-mfa-authenticator.md",
                            "public": true
                        }
                    ],
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ],
                "parameters": [
                    {
                        "name": "type",
                        "description": "Type of authenticator. Must be `totp`",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "x-example": "totp",
                            "enum": [
                                "totp"
                            ],
                            "x-enum-name": "AuthenticatorType",
                            "x-enum-keys": []
                        },
                        "in": "path"
                    }
                ]
            },
            "put": {
                "summary": "Update authenticator (confirmation)",
                "operationId": "accountUpdateMfaAuthenticator",
                "tags": [
                    "account"
                ],
                "description": "Verify an authenticator app after adding it using the [add authenticator](\/docs\/references\/cloud\/client-web\/account#createMfaAuthenticator) method.",
                "responses": {
                    "200": {
                        "description": "User",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/user"
                                }
                            }
                        }
                    }
                },
                "deprecated": true,
                "x-appwrite": {
                    "method": "updateMfaAuthenticator",
                    "group": "mfa",
                    "weight": 169,
                    "cookies": false,
                    "type": "",
                    "demo": "account\/update-mfa-authenticator.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": false,
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/update-mfa-authenticator.md",
                    "deprecated": {
                        "since": "1.8.0",
                        "replaceWith": "account.updateMFAAuthenticator"
                    },
                    "methods": [
                        {
                            "name": "updateMfaAuthenticator",
                            "namespace": "account",
                            "desc": "",
                            "auth": {
                                "Project": []
                            },
                            "parameters": [
                                "type",
                                "otp"
                            ],
                            "required": [
                                "type",
                                "otp"
                            ],
                            "responses": [
                                {
                                    "code": 200,
                                    "model": "#\/components\/schemas\/user"
                                }
                            ],
                            "description": "Verify an authenticator app after adding it using the [add authenticator](\/docs\/references\/cloud\/client-web\/account#createMfaAuthenticator) method.",
                            "demo": "account\/update-mfa-authenticator.md",
                            "public": false,
                            "deprecated": {
                                "since": "1.8.0",
                                "replaceWith": "account.updateMFAAuthenticator"
                            }
                        },
                        {
                            "name": "updateMFAAuthenticator",
                            "namespace": "account",
                            "desc": "",
                            "auth": {
                                "Project": []
                            },
                            "parameters": [
                                "type",
                                "otp"
                            ],
                            "required": [
                                "type",
                                "otp"
                            ],
                            "responses": [
                                {
                                    "code": 200,
                                    "model": "#\/components\/schemas\/user"
                                }
                            ],
                            "description": "Verify an authenticator app after adding it using the [add authenticator](\/docs\/references\/cloud\/client-web\/account#createMfaAuthenticator) method.",
                            "demo": "account\/update-mfa-authenticator.md",
                            "public": true
                        }
                    ],
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ],
                "parameters": [
                    {
                        "name": "type",
                        "description": "Type of authenticator.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "x-example": "totp",
                            "enum": [
                                "totp"
                            ],
                            "x-enum-name": "AuthenticatorType",
                            "x-enum-keys": []
                        },
                        "in": "path"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "otp": {
                                        "type": "string",
                                        "description": "Valid verification token.",
                                        "x-example": "<OTP>"
                                    }
                                },
                                "required": [
                                    "otp"
                                ]
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete authenticator",
                "operationId": "accountDeleteMfaAuthenticator",
                "tags": [
                    "account"
                ],
                "description": "Delete an authenticator for a user by ID.",
                "responses": {
                    "204": {
                        "description": "No content"
                    }
                },
                "deprecated": true,
                "x-appwrite": {
                    "method": "deleteMfaAuthenticator",
                    "group": "mfa",
                    "weight": 170,
                    "cookies": false,
                    "type": "",
                    "demo": "account\/delete-mfa-authenticator.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": false,
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/delete-mfa-authenticator.md",
                    "deprecated": {
                        "since": "1.8.0",
                        "replaceWith": "account.deleteMFAAuthenticator"
                    },
                    "methods": [
                        {
                            "name": "deleteMfaAuthenticator",
                            "namespace": "account",
                            "desc": "",
                            "auth": {
                                "Project": []
                            },
                            "parameters": [
                                "type"
                            ],
                            "required": [
                                "type"
                            ],
                            "responses": [
                                {
                                    "code": 204
                                }
                            ],
                            "description": "Delete an authenticator for a user by ID.",
                            "demo": "account\/delete-mfa-authenticator.md",
                            "public": false,
                            "deprecated": {
                                "since": "1.8.0",
                                "replaceWith": "account.deleteMFAAuthenticator"
                            }
                        },
                        {
                            "name": "deleteMFAAuthenticator",
                            "namespace": "account",
                            "desc": "",
                            "auth": {
                                "Project": []
                            },
                            "parameters": [
                                "type"
                            ],
                            "required": [
                                "type"
                            ],
                            "responses": [
                                {
                                    "code": 204
                                }
                            ],
                            "description": "Delete an authenticator for a user by ID.",
                            "demo": "account\/delete-mfa-authenticator.md",
                            "public": true
                        }
                    ],
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ],
                "parameters": [
                    {
                        "name": "type",
                        "description": "Type of authenticator.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "x-example": "totp",
                            "enum": [
                                "totp"
                            ],
                            "x-enum-name": "AuthenticatorType",
                            "x-enum-keys": []
                        },
                        "in": "path"
                    }
                ]
            }
        },
        "\/account\/mfa\/challenges": {
            "post": {
                "summary": "Create MFA challenge",
                "operationId": "accountCreateMfaChallenge",
                "tags": [
                    "account"
                ],
                "description": "Begin the process of MFA verification after sign-in. Finish the flow with [updateMfaChallenge](\/docs\/references\/cloud\/client-web\/account#updateMfaChallenge) method.",
                "responses": {
                    "201": {
                        "description": "MFA Challenge",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/mfaChallenge"
                                }
                            }
                        }
                    }
                },
                "deprecated": true,
                "x-appwrite": {
                    "method": "createMfaChallenge",
                    "group": "mfa",
                    "weight": 174,
                    "cookies": false,
                    "type": "",
                    "demo": "account\/create-mfa-challenge.md",
                    "rate-limit": 10,
                    "rate-time": 3600,
                    "rate-key": "url:{url},userId:{userId}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": false,
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/create-mfa-challenge.md",
                    "deprecated": {
                        "since": "1.8.0",
                        "replaceWith": "account.createMFAChallenge"
                    },
                    "methods": [
                        {
                            "name": "createMfaChallenge",
                            "namespace": "account",
                            "desc": "",
                            "auth": {
                                "Project": []
                            },
                            "parameters": [
                                "factor"
                            ],
                            "required": [
                                "factor"
                            ],
                            "responses": [
                                {
                                    "code": 201,
                                    "model": "#\/components\/schemas\/mfaChallenge"
                                }
                            ],
                            "description": "Begin the process of MFA verification after sign-in. Finish the flow with [updateMfaChallenge](\/docs\/references\/cloud\/client-web\/account#updateMfaChallenge) method.",
                            "demo": "account\/create-mfa-challenge.md",
                            "public": false,
                            "deprecated": {
                                "since": "1.8.0",
                                "replaceWith": "account.createMFAChallenge"
                            }
                        },
                        {
                            "name": "createMFAChallenge",
                            "namespace": "account",
                            "desc": "",
                            "auth": {
                                "Project": []
                            },
                            "parameters": [
                                "factor"
                            ],
                            "required": [
                                "factor"
                            ],
                            "responses": [
                                {
                                    "code": 201,
                                    "model": "#\/components\/schemas\/mfaChallenge"
                                }
                            ],
                            "description": "Begin the process of MFA verification after sign-in. Finish the flow with [updateMfaChallenge](\/docs\/references\/cloud\/client-web\/account#updateMfaChallenge) method.",
                            "demo": "account\/create-mfa-challenge.md",
                            "public": true
                        }
                    ],
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "factor": {
                                        "type": "string",
                                        "description": "Factor used for verification. Must be one of following: `email`, `phone`, `totp`, `recoveryCode`.",
                                        "x-example": "email",
                                        "enum": [
                                            "email",
                                            "phone",
                                            "totp",
                                            "recoverycode"
                                        ],
                                        "x-enum-name": "AuthenticationFactor",
                                        "x-enum-keys": []
                                    }
                                },
                                "required": [
                                    "factor"
                                ]
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Update MFA challenge (confirmation)",
                "operationId": "accountUpdateMfaChallenge",
                "tags": [
                    "account"
                ],
                "description": "Complete the MFA challenge by providing the one-time password. Finish the process of MFA verification by providing the one-time password. To begin the flow, use [createMfaChallenge](\/docs\/references\/cloud\/client-web\/account#createMfaChallenge) method.",
                "responses": {
                    "200": {
                        "description": "Session",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/session"
                                }
                            }
                        }
                    }
                },
                "deprecated": true,
                "x-appwrite": {
                    "method": "updateMfaChallenge",
                    "group": "mfa",
                    "weight": 175,
                    "cookies": false,
                    "type": "",
                    "demo": "account\/update-mfa-challenge.md",
                    "rate-limit": 10,
                    "rate-time": 3600,
                    "rate-key": "url:{url},challengeId:{param-challengeId}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": false,
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/update-mfa-challenge.md",
                    "deprecated": {
                        "since": "1.8.0",
                        "replaceWith": "account.updateMFAChallenge"
                    },
                    "methods": [
                        {
                            "name": "updateMfaChallenge",
                            "namespace": "account",
                            "desc": "",
                            "auth": {
                                "Project": []
                            },
                            "parameters": [
                                "challengeId",
                                "otp"
                            ],
                            "required": [
                                "challengeId",
                                "otp"
                            ],
                            "responses": [
                                {
                                    "code": 200,
                                    "model": "#\/components\/schemas\/session"
                                }
                            ],
                            "description": "Complete the MFA challenge by providing the one-time password. Finish the process of MFA verification by providing the one-time password. To begin the flow, use [createMfaChallenge](\/docs\/references\/cloud\/client-web\/account#createMfaChallenge) method.",
                            "demo": "account\/update-mfa-challenge.md",
                            "public": false,
                            "deprecated": {
                                "since": "1.8.0",
                                "replaceWith": "account.updateMFAChallenge"
                            }
                        },
                        {
                            "name": "updateMFAChallenge",
                            "namespace": "account",
                            "desc": "",
                            "auth": {
                                "Project": []
                            },
                            "parameters": [
                                "challengeId",
                                "otp"
                            ],
                            "required": [
                                "challengeId",
                                "otp"
                            ],
                            "responses": [
                                {
                                    "code": 200,
                                    "model": "#\/components\/schemas\/session"
                                }
                            ],
                            "description": "Complete the MFA challenge by providing the one-time password. Finish the process of MFA verification by providing the one-time password. To begin the flow, use [createMfaChallenge](\/docs\/references\/cloud\/client-web\/account#createMfaChallenge) method.",
                            "demo": "account\/update-mfa-challenge.md",
                            "public": true
                        }
                    ],
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "challengeId": {
                                        "type": "string",
                                        "description": "ID of the challenge.",
                                        "x-example": "<CHALLENGE_ID>"
                                    },
                                    "otp": {
                                        "type": "string",
                                        "description": "Valid verification token.",
                                        "x-example": "<OTP>"
                                    }
                                },
                                "required": [
                                    "challengeId",
                                    "otp"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "\/account\/mfa\/factors": {
            "get": {
                "summary": "List factors",
                "operationId": "accountListMfaFactors",
                "tags": [
                    "account"
                ],
                "description": "List the factors available on the account to be used as a MFA challange.",
                "responses": {
                    "200": {
                        "description": "MFAFactors",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/mfaFactors"
                                }
                            }
                        }
                    }
                },
                "deprecated": true,
                "x-appwrite": {
                    "method": "listMfaFactors",
                    "group": "mfa",
                    "weight": 167,
                    "cookies": false,
                    "type": "",
                    "demo": "account\/list-mfa-factors.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": false,
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/list-mfa-factors.md",
                    "deprecated": {
                        "since": "1.8.0",
                        "replaceWith": "account.listMFAFactors"
                    },
                    "methods": [
                        {
                            "name": "listMfaFactors",
                            "namespace": "account",
                            "desc": "",
                            "auth": {
                                "Project": []
                            },
                            "parameters": [],
                            "required": [],
                            "responses": [
                                {
                                    "code": 200,
                                    "model": "#\/components\/schemas\/mfaFactors"
                                }
                            ],
                            "description": "List the factors available on the account to be used as a MFA challange.",
                            "demo": "account\/list-mfa-factors.md",
                            "public": false,
                            "deprecated": {
                                "since": "1.8.0",
                                "replaceWith": "account.listMFAFactors"
                            }
                        },
                        {
                            "name": "listMFAFactors",
                            "namespace": "account",
                            "desc": "",
                            "auth": {
                                "Project": []
                            },
                            "parameters": [],
                            "required": [],
                            "responses": [
                                {
                                    "code": 200,
                                    "model": "#\/components\/schemas\/mfaFactors"
                                }
                            ],
                            "description": "List the factors available on the account to be used as a MFA challange.",
                            "demo": "account\/list-mfa-factors.md",
                            "public": true
                        }
                    ],
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ]
            }
        },
        "\/account\/mfa\/recovery-codes": {
            "get": {
                "summary": "List MFA recovery codes",
                "operationId": "accountGetMfaRecoveryCodes",
                "tags": [
                    "account"
                ],
                "description": "Get recovery codes that can be used as backup for MFA flow. Before getting codes, they must be generated using [createMfaRecoveryCodes](\/docs\/references\/cloud\/client-web\/account#createMfaRecoveryCodes) method. An OTP challenge is required to read recovery codes.",
                "responses": {
                    "200": {
                        "description": "MFA Recovery Codes",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/mfaRecoveryCodes"
                                }
                            }
                        }
                    }
                },
                "deprecated": true,
                "x-appwrite": {
                    "method": "getMfaRecoveryCodes",
                    "group": "mfa",
                    "weight": 173,
                    "cookies": false,
                    "type": "",
                    "demo": "account\/get-mfa-recovery-codes.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": false,
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/get-mfa-recovery-codes.md",
                    "deprecated": {
                        "since": "1.8.0",
                        "replaceWith": "account.getMFARecoveryCodes"
                    },
                    "methods": [
                        {
                            "name": "getMfaRecoveryCodes",
                            "namespace": "account",
                            "desc": "",
                            "auth": {
                                "Project": []
                            },
                            "parameters": [],
                            "required": [],
                            "responses": [
                                {
                                    "code": 200,
                                    "model": "#\/components\/schemas\/mfaRecoveryCodes"
                                }
                            ],
                            "description": "Get recovery codes that can be used as backup for MFA flow. Before getting codes, they must be generated using [createMfaRecoveryCodes](\/docs\/references\/cloud\/client-web\/account#createMfaRecoveryCodes) method. An OTP challenge is required to read recovery codes.",
                            "demo": "account\/get-mfa-recovery-codes.md",
                            "public": false,
                            "deprecated": {
                                "since": "1.8.0",
                                "replaceWith": "account.getMFARecoveryCodes"
                            }
                        },
                        {
                            "name": "getMFARecoveryCodes",
                            "namespace": "account",
                            "desc": "",
                            "auth": {
                                "Project": []
                            },
                            "parameters": [],
                            "required": [],
                            "responses": [
                                {
                                    "code": 200,
                                    "model": "#\/components\/schemas\/mfaRecoveryCodes"
                                }
                            ],
                            "description": "Get recovery codes that can be used as backup for MFA flow. Before getting codes, they must be generated using [createMfaRecoveryCodes](\/docs\/references\/cloud\/client-web\/account#createMfaRecoveryCodes) method. An OTP challenge is required to read recovery codes.",
                            "demo": "account\/get-mfa-recovery-codes.md",
                            "public": true
                        }
                    ],
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ]
            },
            "post": {
                "summary": "Create MFA recovery codes",
                "operationId": "accountCreateMfaRecoveryCodes",
                "tags": [
                    "account"
                ],
                "description": "Generate recovery codes as backup for MFA flow. It's recommended to generate and show then immediately after user successfully adds their authehticator. Recovery codes can be used as a MFA verification type in [createMfaChallenge](\/docs\/references\/cloud\/client-web\/account#createMfaChallenge) method.",
                "responses": {
                    "201": {
                        "description": "MFA Recovery Codes",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/mfaRecoveryCodes"
                                }
                            }
                        }
                    }
                },
                "deprecated": true,
                "x-appwrite": {
                    "method": "createMfaRecoveryCodes",
                    "group": "mfa",
                    "weight": 171,
                    "cookies": false,
                    "type": "",
                    "demo": "account\/create-mfa-recovery-codes.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": false,
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/create-mfa-recovery-codes.md",
                    "deprecated": {
                        "since": "1.8.0",
                        "replaceWith": "account.createMFARecoveryCodes"
                    },
                    "methods": [
                        {
                            "name": "createMfaRecoveryCodes",
                            "namespace": "account",
                            "desc": "",
                            "auth": {
                                "Project": []
                            },
                            "parameters": [],
                            "required": [],
                            "responses": [
                                {
                                    "code": 201,
                                    "model": "#\/components\/schemas\/mfaRecoveryCodes"
                                }
                            ],
                            "description": "Generate recovery codes as backup for MFA flow. It's recommended to generate and show then immediately after user successfully adds their authehticator. Recovery codes can be used as a MFA verification type in [createMfaChallenge](\/docs\/references\/cloud\/client-web\/account#createMfaChallenge) method.",
                            "demo": "account\/create-mfa-recovery-codes.md",
                            "public": false,
                            "deprecated": {
                                "since": "1.8.0",
                                "replaceWith": "account.createMFARecoveryCodes"
                            }
                        },
                        {
                            "name": "createMFARecoveryCodes",
                            "namespace": "account",
                            "desc": "",
                            "auth": {
                                "Project": []
                            },
                            "parameters": [],
                            "required": [],
                            "responses": [
                                {
                                    "code": 201,
                                    "model": "#\/components\/schemas\/mfaRecoveryCodes"
                                }
                            ],
                            "description": "Generate recovery codes as backup for MFA flow. It's recommended to generate and show then immediately after user successfully adds their authehticator. Recovery codes can be used as a MFA verification type in [createMfaChallenge](\/docs\/references\/cloud\/client-web\/account#createMfaChallenge) method.",
                            "demo": "account\/create-mfa-recovery-codes.md",
                            "public": true
                        }
                    ],
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ]
            },
            "patch": {
                "summary": "Update MFA recovery codes (regenerate)",
                "operationId": "accountUpdateMfaRecoveryCodes",
                "tags": [
                    "account"
                ],
                "description": "Regenerate recovery codes that can be used as backup for MFA flow. Before regenerating codes, they must be first generated using [createMfaRecoveryCodes](\/docs\/references\/cloud\/client-web\/account#createMfaRecoveryCodes) method. An OTP challenge is required to regenreate recovery codes.",
                "responses": {
                    "200": {
                        "description": "MFA Recovery Codes",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/mfaRecoveryCodes"
                                }
                            }
                        }
                    }
                },
                "deprecated": true,
                "x-appwrite": {
                    "method": "updateMfaRecoveryCodes",
                    "group": "mfa",
                    "weight": 172,
                    "cookies": false,
                    "type": "",
                    "demo": "account\/update-mfa-recovery-codes.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": true,
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/update-mfa-recovery-codes.md",
                    "deprecated": {
                        "since": "1.8.0",
                        "replaceWith": "account.updateMFARecoveryCodes"
                    },
                    "methods": [
                        {
                            "name": "updateMfaRecoveryCodes",
                            "namespace": "account",
                            "desc": "",
                            "auth": {
                                "Project": []
                            },
                            "parameters": [],
                            "required": [],
                            "responses": [
                                {
                                    "code": 200,
                                    "model": "#\/components\/schemas\/mfaRecoveryCodes"
                                }
                            ],
                            "description": "Regenerate recovery codes that can be used as backup for MFA flow. Before regenerating codes, they must be first generated using [createMfaRecoveryCodes](\/docs\/references\/cloud\/client-web\/account#createMfaRecoveryCodes) method. An OTP challenge is required to regenreate recovery codes.",
                            "demo": "account\/update-mfa-recovery-codes.md",
                            "public": true,
                            "deprecated": {
                                "since": "1.8.0",
                                "replaceWith": "account.updateMFARecoveryCodes"
                            }
                        },
                        {
                            "name": "updateMFARecoveryCodes",
                            "namespace": "account",
                            "desc": "",
                            "auth": {
                                "Project": []
                            },
                            "parameters": [],
                            "required": [],
                            "responses": [
                                {
                                    "code": 200,
                                    "model": "#\/components\/schemas\/mfaRecoveryCodes"
                                }
                            ],
                            "description": "Regenerate recovery codes that can be used as backup for MFA flow. Before regenerating codes, they must be first generated using [createMfaRecoveryCodes](\/docs\/references\/cloud\/client-web\/account#createMfaRecoveryCodes) method. An OTP challenge is required to regenreate recovery codes.",
                            "demo": "account\/update-mfa-recovery-codes.md",
                            "public": true
                        }
                    ],
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ]
            }
        },
        "\/account\/name": {
            "patch": {
                "summary": "Update name",
                "operationId": "accountUpdateName",
                "tags": [
                    "account"
                ],
                "description": "Update currently logged in user account name.",
                "responses": {
                    "200": {
                        "description": "User",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/user"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-appwrite": {
                    "method": "updateName",
                    "group": "account",
                    "weight": 32,
                    "cookies": false,
                    "type": "",
                    "demo": "account\/update-name.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": true,
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/update-name.md",
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "User name. Max length: 128 chars.",
                                        "x-example": "<NAME>"
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "\/account\/password": {
            "patch": {
                "summary": "Update password",
                "operationId": "accountUpdatePassword",
                "tags": [
                    "account"
                ],
                "description": "Update currently logged in user password. For validation, user is required to pass in the new password, and the old password. For users created with OAuth, Team Invites and Magic URL, oldPassword is optional.",
                "responses": {
                    "200": {
                        "description": "User",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/user"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-appwrite": {
                    "method": "updatePassword",
                    "group": "account",
                    "weight": 33,
                    "cookies": false,
                    "type": "",
                    "demo": "account\/update-password.md",
                    "rate-limit": 10,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": true,
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/update-password.md",
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "password": {
                                        "type": "string",
                                        "description": "New user password. Must be at least 8 chars.",
                                        "x-example": null
                                    },
                                    "oldPassword": {
                                        "type": "string",
                                        "description": "Current user password. Must be at least 8 chars.",
                                        "x-example": "password",
                                        "format": "password"
                                    }
                                },
                                "required": [
                                    "password"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "\/account\/phone": {
            "patch": {
                "summary": "Update phone",
                "operationId": "accountUpdatePhone",
                "tags": [
                    "account"
                ],
                "description": "Update the currently logged in user's phone number. After updating the phone number, the phone verification status will be reset. A confirmation SMS is not sent automatically, however you can use the [POST \/account\/verification\/phone](https:\/\/appwrite.io\/docs\/references\/cloud\/client-web\/account#createPhoneVerification) endpoint to send a confirmation SMS.",
                "responses": {
                    "200": {
                        "description": "User",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/user"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-appwrite": {
                    "method": "updatePhone",
                    "group": "account",
                    "weight": 35,
                    "cookies": false,
                    "type": "",
                    "demo": "account\/update-phone.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": true,
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/update-phone.md",
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "phone": {
                                        "type": "string",
                                        "description": "Phone number. Format this number with a leading '+' and a country code, e.g., +16175551212.",
                                        "x-example": "+12065550100",
                                        "format": "phone"
                                    },
                                    "password": {
                                        "type": "string",
                                        "description": "User password. Must be at least 8 chars.",
                                        "x-example": "password",
                                        "format": "password"
                                    }
                                },
                                "required": [
                                    "phone",
                                    "password"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "\/account\/prefs": {
            "get": {
                "summary": "Get account preferences",
                "operationId": "accountGetPrefs",
                "tags": [
                    "account"
                ],
                "description": "Get the preferences as a key-value object for the currently logged in user.",
                "responses": {
                    "200": {
                        "description": "Preferences",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/preferences"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-appwrite": {
                    "method": "getPrefs",
                    "group": "account",
                    "weight": 30,
                    "cookies": false,
                    "type": "",
                    "demo": "account\/get-prefs.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": true,
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/get-prefs.md",
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ]
            },
            "patch": {
                "summary": "Update preferences",
                "operationId": "accountUpdatePrefs",
                "tags": [
                    "account"
                ],
                "description": "Update currently logged in user account preferences. The object you pass is stored as is, and replaces any previous value. The maximum allowed prefs size is 64kB and throws error if exceeded.",
                "responses": {
                    "200": {
                        "description": "User",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/user"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-appwrite": {
                    "method": "updatePrefs",
                    "group": "account",
                    "weight": 36,
                    "cookies": false,
                    "type": "",
                    "demo": "account\/update-prefs.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": true,
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/update-prefs.md",
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "prefs": {
                                        "type": "object",
                                        "description": "Prefs key-value JSON object.",
                                        "x-example": "{\"language\":\"en\",\"timezone\":\"UTC\",\"darkTheme\":true}"
                                    }
                                },
                                "required": [
                                    "prefs"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "\/account\/recovery": {
            "post": {
                "summary": "Create password recovery",
                "operationId": "accountCreateRecovery",
                "tags": [
                    "account"
                ],
                "description": "Sends the user an email with a temporary secret key for password reset. When the user clicks the confirmation link he is redirected back to your app password reset URL with the secret key and email address values attached to the URL query string. Use the query string params to submit a request to the [PUT \/account\/recovery](https:\/\/appwrite.io\/docs\/references\/cloud\/client-web\/account#updateRecovery) endpoint to complete the process. The verification link sent to the user's email address is valid for 1 hour.",
                "responses": {
                    "201": {
                        "description": "Token",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/token"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-appwrite": {
                    "method": "createRecovery",
                    "group": "recovery",
                    "weight": 38,
                    "cookies": false,
                    "type": "",
                    "demo": "account\/create-recovery.md",
                    "rate-limit": 10,
                    "rate-time": 3600,
                    "rate-key": [
                        "url:{url},email:{param-email}",
                        "url:{url},ip:{ip}"
                    ],
                    "scope": "sessions.write",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": true,
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/create-recovery.md",
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "description": "User email.",
                                        "x-example": "email@example.com",
                                        "format": "email"
                                    },
                                    "url": {
                                        "type": "string",
                                        "description": "URL to redirect the user back to your app from the recovery email. Only URLs from hostnames in your project platform list are allowed. This requirement helps to prevent an [open redirect](https:\/\/cheatsheetseries.owasp.org\/cheatsheets\/Unvalidated_Redirects_and_Forwards_Cheat_Sheet.html) attack against your project API.",
                                        "x-example": "https:\/\/example.com",
                                        "format": "url"
                                    }
                                },
                                "required": [
                                    "email",
                                    "url"
                                ]
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Update password recovery (confirmation)",
                "operationId": "accountUpdateRecovery",
                "tags": [
                    "account"
                ],
                "description": "Use this endpoint to complete the user account password reset. Both the **userId** and **secret** arguments will be passed as query parameters to the redirect URL you have provided when sending your request to the [POST \/account\/recovery](https:\/\/appwrite.io\/docs\/references\/cloud\/client-web\/account#createRecovery) endpoint.\n\nPlease note that in order to avoid a [Redirect Attack](https:\/\/github.com\/OWASP\/CheatSheetSeries\/blob\/master\/cheatsheets\/Unvalidated_Redirects_and_Forwards_Cheat_Sheet.md) the only valid redirect URLs are the ones from domains you have set when adding your platforms in the console interface.",
                "responses": {
                    "200": {
                        "description": "Token",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/token"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-appwrite": {
                    "method": "updateRecovery",
                    "group": "recovery",
                    "weight": 39,
                    "cookies": false,
                    "type": "",
                    "demo": "account\/update-recovery.md",
                    "rate-limit": 10,
                    "rate-time": 3600,
                    "rate-key": "url:{url},userId:{param-userId}",
                    "scope": "sessions.write",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": true,
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/update-recovery.md",
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ],
                "requestBody": {
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "userId": {
                                        "type": "string",
                                        "description": "User ID.",
                                        "x-example": "<USER_ID>"
                                    },
                                    "secret": {
                                        "type": "string",
                                        "description": "Valid reset token.",
                                        "x-example": "<SECRET>"
                                    },
                                    "password": {
                                        "type": "string",
                                        "description": "New user password. Must be between 8 and 256 chars.",
                                        "x-example": null
                                    }
                                },
                                "required": [
                                    "userId",
                                    "secret",
                                    "password"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "\/account\/sessions": {
            "get": {
                "summary": "List sessions",
                "operationId": "accountListSessions",
                "tags": [
                    "account"
                ],
                "description": "Get the list of active sessions across different devices for the currently logged in user.",
                "responses": {
                    "200": {
                        "description": "Sessions List",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/sessionList"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-appwrite": {
                    "method": "listSessions",
                    "group": "sessions",
                    "weight": 11,
                    "cookies": false,
                    "type": "",
                    "demo": "account\/list-sessions.md",
                    "rate-limit": 0,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": true,
                    "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/master\/docs\/references\/account\/list-sessions.md",
                    "auth": {
                        "Project": []
                    }
                },
                "security": [
                    {
                        "Project": [],
                        "JWT": []
                    }
                ]
            },
            "delete": {
                "summary": "Delete sessions",
                "operationId": "accountDeleteSessions",
                "tags": [
                    "account"
                ],
                "description": "Delete all sessions from the user account and remove any sessions cookies from the end client.",
                "responses": {
                    "204": {
                        "description": "No content"
                    }
                },
                "deprecated": false,
                "x-appwrite": {
                    "method": "deleteSessions",
                    "group": "sessions",
                    "weight": 12,
                    "cookies": false,
                    "type": "",
                    "demo": "account\/delete-sessions.md",
                    "rate-limit": 100,
                    "rate-time": 3600,
                    "rate-key": "url:{url},ip:{ip}",
                    "scope": "account",
                    "platforms": [
                        "console",
                        "client",
                        "server"
                    ],
                    "packaging": false,
                    "public": true,
[...]
