appwrite users updateEmailVerification \
        --userId [USER_ID] \
        --emailVerification false
