appwrite account createVerification \
        --url https://example.com
