appwrite account updatePhoneVerification \
        --userId <USER_ID> \
        --secret <SECRET>
