appwrite users update-email-verification \
    --user-id <USER_ID> \
    --email-verification false
