appwrite users update-phone-verification \
    --user-id <USER_ID> \
    --phone-verification false
